@model Security.Domain.DTO.User.UserSearchModel

<div id="dvSearch">
    @await Component.InvokeAsync("UserSearchBox",this.Model)
</div>
<div id="dvGrid">
    @await Component.InvokeAsync("UserList",this.Model)
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}