@model Security.Domain.DTO.ProjectArea.ProjectAreaAddModel


<div class="row">
    <div class="col-md-4" >
        <form asp-action="Default" id="frmAddnew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AreaName" class="control-label"></label>
                <input asp-for="AreaName" class="form-control" />
                <span asp-validation-for="AreaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersianTitle" class="control-label"></label>
                <input asp-for="PersianTitle" class="form-control" />
                <span asp-validation-for="PersianTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span type="submit" id="btnAddNew" class="btn btn-primary" data-action='@Url.Action("AddNewProjectArea","ProjectAreaManegment")' data-form="frmAddnew" data-method="post"
                      data-action-BindGrid='@Url.Action("ProjectAreaListAction","ProjectAreaManegment")' data-action-RefreshGrid='@Url.Action("ProjectAreaSearchBoxAction","ProjectAreaManegment")'
                     >ثبت</span>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
