@model Security.Domain.DTO.ProjectAction.ProjectActionSearchModel
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" id="frmSearch">
            <div class="form-group">
                <label asp-for="ProjectActionName" class="control-label" ></label>
                <input asp-for="ProjectActionName" class="form-control" data-action='@Url.Action("ProjectActionListAction", "ProjectActionManegment")' data-search="search" />
            </div>
            <div class="form-group">
                <label asp-for="ProjectControllerID" class="control-label"></label>
                <select asp-for="ProjectControllerID" asp-items=@ViewBag.drpController class="form-control" data-action='@Url.Action("ProjectActionListAction", "ProjectActionManegment")' data-search="search"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
                <a href="#" class="btn btn-success mt-2" id="btnAddNew" data-action='@Url.Action("AddNew","ProjectActionManegment")' data-container="dvContent" data-modal-id="exampleModal" data-showAddModel="showAddModel">ثبت جدید</a>
            </div>
        </form>
    </div>
</div>
