@model Shopping.DomainModel.DTO.Category.CategoryAddModel
<div class="row">
    <div class="col-md-4">
        <form asp-action="Default" id="frmAddnew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParentID" class="control-label"></label>
                <select asp-items="@ViewBag.drp" asp-for="ParentID" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuIcon" class="control-label"></label>
                <input asp-for="MenuIcon" class="form-control" />
                <span asp-validation-for="MenuIcon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span type="submit" id="btnAdd" class="btn btn-primary" data-action='@Url.Action("AddNew","CategoryManegement")' data-form="frmAddnew" data-method="post">ADD NEW</span>
            </div>
        </form>
    </div>
</div>
