@model Security.Domain.DTO.ProjectAction.ProjectActionAddModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Default" id="frmAddnew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectActionName" class="control-label"></label>
                <input asp-for="ProjectActionName" class="form-control" />
                <span asp-validation-for="ProjectActionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersianTitle" class="control-label"></label>
                <input asp-for="PersianTitle" class="form-control" />
                <span asp-validation-for="PersianTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectControllerID" class="control-label"></label>
                <select asp-for="ProjectControllerID" asp-items=@ViewBag.drpController class="form-control"></select>
                <span asp-validation-for="ProjectControllerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span type="submit" id="btnAddNew" class="btn btn-primary" data-action='@Url.Action("AddNewProjectAction","ProjectActionManegment")' data-form="frmAddnew" data-method="post"
                      data-action-BindGrid='@Url.Action("ProjectActionListAction","ProjectActionManegment")' data-action-RefreshGrid='@Url.Action("ProjectActionSearchBoxAction","ProjectActionManegment")'
                      >ثبت</span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
