@model Security.Domain.DTO.ProjectController.ProjectControllerAddModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Default" id="frmAddnew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectControllerName" class="control-label"></label>
                <input asp-for="ProjectControllerName" class="form-control" />
                <span asp-validation-for="ProjectControllerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersianTitle" class="control-label"></label>
                <input asp-for="PersianTitle" class="form-control" />
                <span asp-validation-for="PersianTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectAreaID" class="control-label"></label>
                <select asp-for="ProjectAreaID" asp-items=@ViewBag.drpArea class="form-control"></select>
                <span asp-validation-for="ProjectAreaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span type="submit" id="btnAddNew" class="btn btn-primary" data-action='@Url.Action("AddNewProjectController","ProjectControllerManegment")' data-form="frmAddnew" data-method="post"
                      data-action-BindGrid='@Url.Action("ProjectControllerListAction","ProjectControllerManegment")' data-action-RefreshGrid='@Url.Action("ProjectControllerSearchBoxAction","ProjectControllerManegment")'
                      >ثبت</span>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
